{% extends "personalTemplates/pabase.html" %}
{% block cur_title  %}
Select From Category
{% endblock %}
{% block current_head %}
{% endblock %}
{% block content %}
<div class="span4">
<a href="/personalApp/fromCategory/"><i class="icon-home"></i></a></div>
<div class="span4">
</div>
<div class="span4" align="right">
<a href="/personalApp/statistics/"><i class="icon-list"></i></a></div>
<form action="" align="center" method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button class="btn">Submit</button>
</form>
{% endblock %}
