{% extends "personalTemplates/pabase.html" %}
{% block cur_title  %}
Select From Category
{% endblock %}
{% block current_head %}
<script type="text/javascript">
		$(document).ready(function() {
			$("a.options").click( function(event){
				event.preventDefault();
				$("input[type='text']").val($(this).html());
			});
		});
</script>
{% endblock %}
{% block content %}
<div class="span4">
<a href="/personalApp/fromCategory/"><i class="icon-home"></i></a></div>
<div class="span4">
</div>
<div class="span4" align="right">
<a href="/personalApp/statistics/"><i class="icon-list"></i></a></div>
<form action="" align="center" method="POST">
	{% csrf_token %} 
	<b>{{ currentTransfer.fromCategory }}</b> <i class="icon-arrow-right"></i>
	<b>{{ currentTransfer.toCategory }}</b>
	<h4>{{ currentTransfer.amount }}</h4>
	<!-- -->
	<div class="input-append">
		{{form.description}}<button name="nextPage" class="btn" type="submit">Go!</button><button name="finish" class="btn btn-success" type="submit">Thats it!</button>
	</div>
	{{ errors }}
</form>
{% endblock %}
