{% extends "personalTemplates/pabase.html" %}
{% block cur_title  %}
Select From Category
{% endblock %}
{% block current_head %}
<script type="text/javascript">
		$(document).ready(function() {
			$("a.options").click( function(event){
				event.preventDefault();
				var input = $("<input>").attr("type", "hidden").attr("name", "fromSelected").val($(this).attr("rel"));
				$('#form1').append($(input));	
				$('input[class="btn"]').click()
			});
		});
</script>
{% endblock %}
{% block content %}
<div class="span4">
<a href="/personalApp/fromCategory/"><i class="icon-home"></i></a></div>
<div class="span4">
</div>
<div class="span4" align="right">
<a href="/personalApp/statistics/"><i class="icon-list"></i></a></div>
<form id="form1" align="center" action="" method="POST">
	{% csrf_token %} 
	<div class="input-append">
		{{ form.fromCategory }}<input name="nextPage" class="btn" type="Submit" value = "Go!"/>
	</div>
	{{ errors }}
	<ul align="center" class="nav nav-list">
		{% for i in fromDistinct %}
			<li><a class="options" rel="{{ i.pk }}" href="#">{{ i.name }}</a></li>
		{% endfor %}
	</ul>
</form>
{% endblock %}

