{% extends "personalTemplates/pabase.html" %}
{% block cur_title  %}
summary
{% endblock %}
{% block current_head %}
<script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
<script type="text/javascript">
$(document).ready(function() {
      {% for row in newList %}
	  chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'container',
            type: 'line'
         },
         title: {
            text: 'daily'
         },
         xAxis: {
            categories: [
						{% for row in newList %}
						'{{ row.1 }}',
						{% endfor %}
						]
         },
         yAxis: {
            title: {
               text: 'Fruit eaten'
            }
         },
         series: [{
            name: 'amount/day',
            data: 	[
					{% for row in newList %}
					{{ row.0 }},
					{% endfor %}
					]
         }]
      });
      {% endfor %}
      $("select.filters").change(function(){
			$("#formID").submit();
      });
				
   });
</script>
{% endblock %}
{% block footer %}
<form id="formID" action="" method="post" >
{% csrf_token %} 
	<table id="userdb" class="table table-condensed table-bordered">
		<thead>
			<tr>
				<th>id</th>
				<th>From</th>
				<th>To</th>
				<th>amount</th>
				<th>description</th>
				<th>timestamp</th>
				<th>deleted</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
			<tr>
				<td></td>
				<td>{{ form.fromCategory }}</td>
				<td>{{ form.toCategory }}</td>
				<td>{{ form.amount }}</td>
				<td>{{ form.description }}</td>
				<td>{{ form.timeStart }}{{ form.timeEnd }}{{ form.timeSortType }}</td>
				<td>deleted</td>
				<td>edit</td>
				<td>delete</td>
			</tr>
		</thead>
		{% if not newList%}
			{% for row in transferList %}
			<tr>
				<td>{{ row.id }}</td>
				<td>{{ row.fromCategory }}</td>
				<td>{{ row.toCategory }}</td>
				<td>{{ row.amount }}</td>
				<td>{{ row.description }}</td>
				<td>{{ row.timestamp  }}</td>
				<td>{{ row.deleted }}</td>
				<td><a href="">edit</a></td>
				<td><button class="btn btn-danger" name="delete" value="{{row.id}}">delete</button></td>
			</tr>
			{% endfor%}
		{% endif %}
		{% for row in newList %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ row.0 }}</td>
			<td></td>
			<td>{{ row.1  }}</td>
			<td></td>
			<td><a href="">edit</a></td>
			<td><button class="btn btn-danger" name="delete" value="{{row.id}}">delete</button></td>
		</tr>
		{% endfor%}
	</table>
</form>
<div id='container'> Chart will be rendered here </div>
{% endblock %}
