{% extends "personalTemplates/pabase.html" %}
{% block cur_title  %}
Select From Category
{% endblock %}
{% block current_head %}
{% endblock %}
{% block content %}
<form action="center" method="POST">
	{% csrf_token %} 
	<b>{{ currentTransfer.fromCategory }}</b> <i class="icon-arrow-right"></i>
	<b>{{ currentTransfer.toCategory }}</b>
	<h4>{{ currentTransfer.amount }}</h4>
	<h5>{{ currentTransfer.description }}</h5>
	<!-- -->
	S<div class="input-append">
		{{form.timestamp}}<button name="finish" class="btn btn-success" type="submit">Thats it!</button>
	</div>
	{{ errors }}{{ form.timestamp.errors }}
</form>
{% endblock %}
