<!-- Template for generating "user delete" and "template delete" pages -->
{% extends "base.html" %}
{% block cur_title  %}
delete {{ deleteType }}
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-list">
            <li><a id="" href='/admin'><i class="icon-share-alt"></i>Admin Home</a></li>
            <li><a href="/deleteUser/-1"><i class="icon-remove"></i>Delete Users</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
        {% if deleteType = 'users' %}
            <table class="table table-striped">
				<thead>
				<tr>
                    <th>id</th>
                    <th>username</th>
                    <th>outstanding</th>
                    <th>delete</th>
                </tr>
                </thead>
                {% for row in usersDBrows %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.username }}</td>
                    <td>{{ row.outstanding}}</td>
                    <td><a href="/deleteUser/{{ row.id }}/">delete</a></td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
