<html>
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="utf-8">
        {% include "styles.html" %}
        <title>{% block cur_title%} {% endblock %}</title>

        {% block current_head %}
        {% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
        <style media="screen" type="text/css">
            #font3
            {
                font-family: 'Fredoka One', cursive; 
                font-size:60px;
            }
            body {
                background-image:url(''); //http://bgrepeat.com/
            }
        </style>
		<script type="text/javascript">
			$(document).ready(function() {
			$("input[type=text]").addClass("span9");
			$("input[type=password]").addClass("span9");
		});
			</script>
    </head>
    <body>
        <div class="container-fluid" >
            {% block header%} 
            <div class="row-fluid">
                <div class="span5"></div>
                <div class="page-header">
                    <h1 id="font3">Split</h1> 
                </div>
            </div>
            {% endblock %}
				
				{% if userFullName %}
            <div class="row-fluid">
                <h4 class="pull-right">
                    {{ userFullName|upper }} <a class="btn btn-primary btn-mini" href="/logout">Logout</a>
                </h4>
            </div>
				{% endif %}            
            {% block content%}
            {% endblock %}

            {% block footer%}
            {% endblock %}
            <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span10">
                      <!-- <p>powered by <a href="http://www.djangoproject.com/">Django</a>,<a target="_blank" href="http://getbootstrap.com">Bootstrap.</a></p> -->
                    </div>
                </div>
            </div>
            </footer>
        </div>
    </body>
</html>

