{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
<div class="span2">
    {% include "navlist.html" %}
</div>
<div class="span10">
        <table class="table table-striped">
        {% for row in all_usrs %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.username }}</td>
            <td>{{ row.outstanding}}</td>
            <td><a href="/deleteUser/{{ row.id }}/">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
