{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        {% include "navlist.html"%}
   </div>
    <div class="span10">
        <table class="table">
            <thead>
            <tr>
                <th>username</th>
                <th>password</th>
                <th>outstanding</th>
            </tr>
        </thead>
            {% for row in dbrows %}
            <tr>
                <td>{{ row.username }}</td>
                <td>{{ row.password  }}</td>
                <td>{{ row.outstanding  }}</td>
            </tr>
            {% endfor%}
        </table>
   </div>
{% endblock %}
