<!-- Template for generating "user display" and "notification/posts display" pages -->
{% extends "base.html" %}
{% block cur_title  %}
Display {{ displayType }}
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        {% include "navlist.html"%}
    </div>
    <div class="span10">
		<!-- {{{ user display -->
        {% if displayType == 'users' %}
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>username</th>
                    <th>outstanding</th>
                    <th>last login @</th>
                </tr>
            </thead>
            {% for row in usersDBrows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.outstanding  }}</td>
                <td>{{ row.lastLogin  }}</td>
            </tr>
            {% endfor%}
        </table>
        {% endif %}
        <!-- }}} -->
        <!-- {{{ notifications display -->
        {% if displayType == 'notifications' %}
        {% if object_list_new %}
        <h3>New notifications</h3>
        <table class="table">
            {% for row in object_list_new %}
            <tr>
                <td>
                    {{ row.author|upper }}
                    {{ row.desc }}:
                    <b>{{ row.linkToTransaction.amount }}</b> paid by 
                    {{ row.linkToTransaction.user_paid|upper }} for
                    <b>{{ row.linkToTransaction.description }}</b>
                </td>
                <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <h3>All notifications</h3>
        <table class="table table-striped">
            {% for row in object_list %}
            <tr>
                <td>
                    {{ row.author|upper }}
                    {{ row.desc }}:
                    <b>{{ row.linkToTransaction.amount }}</b> paid by 
                    {{ row.linkToTransaction.user_paid|upper }} for
                    <b>{{ row.linkToTransaction.description }}</b>
                </td>
                <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <!-- }}} -->
        <!-- {{{ posts display-->
        {% if displayType == 'posts' %}
            {% if object_list_new %}
                <h3>New Posts</h3>
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Post</th>
                            <th>Visible To</th>
                            <th>Posted At</th>
                        </tr>
                    </thead>
                    {% for row in object_list_new %}
                    <tr>
                        <td>
							<b>{{ row.author }} says:</b> 
							{{ row.desc }}
						</td>
						<td>{% for ui_rows in row.audience.all  %}{{ui_rows.username|add:" "}}{%endfor%}</td>
                        <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <h3>All Posts</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Post</th>
                        <th>Visible To</th>
                        <th>Posted At</th>
                    </tr>
                </thead>
                {% for row in object_list %}
                <tr>
                    <td>
                        <b>{{ row.author }} says:</b> 
                        {{ row.desc }}
                    </td>
                    <td>{% for ui_rows in row.audience.all  %}{{ui_rows.username|add:" "}}{%endfor%}</td>
                    <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        <!-- }}} -->
    </div>
</div>
{% endblock %}
