{% extends 'base.html' %}
{% block cur_title  %}
{{ kind }} Transactions List
{% endblock %}
{% block current_head %}
<script type="text/javascript">
    $(document).ready(function() {
            $('#mytable').fixheadertable({
                caption     : '{{ kind }} Transactions',
                whiteSpace  : 'normal',
                height      : 400,
                width       : 950,
                zebra       : true,
                {% ifequal kind 'all'%}
                minWidth    : 1400,
                {% endifequal %}
                sortable    : true, 
});
            });
        </script>
 <!-- http://www.tablefixedheader.com/fullpagedemo/ -->
 <script type="text/javascript" src="{{ STATIC_URL }}fixheadertable/javascript/jquery.fixheadertable.js"></script> 
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/css/base.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/jquery-ui/css/ui-lightness/jquery-ui-1.8.4.custom.css" />
{% endblock %}


{% block content %}
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-list well">
            <li class="nav-header">Click on A name</li>
            <li><a href="/displayTransactions/all/"><i class="icon-chevron-right"></i>All Transactions</a></li>
            {% for rows in ordered_userstable  %}
            <li><a href="/displayTransactions/{{rows.name}}/"><i class="icon-chevron-right"></i>{{rows.username|add:""}} --> {{rows.outstanding|floatformat}}</a></li>
            {%endfor%}
            <li><a href="/download/">DOWNLOAD DB</a></li>
        </ul>
        {% include "navlist.html" %}
   </div>
    <div class="span8">
        <table id="mytable">
            <thead>
                <tr>
                    <th>id</th>
                    <th>description</th>
                    <th>amount</th>
                    <th>user paid</th>
                    <th>users involved</th>
                    <th>timestamp</th>
                    {% if not userpos %}
                        {% for i in userstable %}
                        <th>{{ i.username }}</th>
                        {% endfor  %}
                        
                        {% for i in userstable %}
                        <th>{{ i.username|upper }}</th>
                        {% endfor  %}
                    {% else %}
                        <th>{{ kind }}</th>
                        <th>Cumulative {{ kind }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for i in newtable %}
                <tr id="font4">
                    {% for j in i%}
                    		<td>{% if j|floatformat %}
                    					{{ j|floatformat }}
                    			 {% else %}
                    			 		{{ j }}
                    			 {% endif %}
                    		</td>
                    {% endfor%}
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <b><u>Integrity check</u></b><br/>
        Sum of all outstanding [should be zero]= {{sumOfAllOutstanding}}
    </div>
</div>
{% endblock %}
