{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class ="span2">
        <ul class="nav nav-list">
            <li><a id="" href='/createUser/'><i class="icon-user"></i>Register new user</a></li>
        </ul>
    </div>
    <div class ="span2"></div>
    <div class ="span3">
        {{ login_msg }}
        <form class="well" action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <div class="form-actions">
                <button class="btn" type="submit">login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
