{% extends "base.html" %}
{% block content %}
<div class ="span-8 prepend-7">
    <form name="adduserform" action="" method="get" class="uniForm" >
        <div class="ctrlHolder">
            <label id="font4">Username:</label>
            <input class="textInput" type="text" name="username" />
        </div>
        <div class="ctrlHolder">
            <p id="font4" class="label">Password:</p>
            <input class="textInput" type="password" name="password" />
        </div>
        <div class="buttonHolder">
        <input id="font4" type="submit" value="login" />
        </div>
    </form>
    <a id="font4" href='adduser/'>Register new user</a>
</div>
{% endblock %}
