<ul class="nav nav-list">
    <li class="nav-header">Add links</li>
    <li><a id="" href='/adduser/'><i class="icon-user"></i>Register new user</a></li>
    <li><a href="/getTransaction/"><i class="icon-file"></i>New Transaction</a></li>
    <li><a href="/getposts/"><i class="icon-flag"></i>put up a post</a></li>
    <li class="nav-header">View links</li>
    <li><a  href="/displayusers/"><i class="icon-list-alt"></i>Display All Users</a></li>
    <li><a  href="/displayTransactions/all/"><i class="icon-list"></i>All Transactions</a></li>
    <li><a href="/posts/all/"><i class="icon-align-justify"></i>View all Notifications</a></li>
    <li><a href="/showposts/all/"><i class="icon-tasks"></i>show all  post</a></li>
    <li class="nav-header">Delete links</li>
    <li><a  href="/deleteUser/-1"><i class="icon-remove"></i>Delete Users</a></li>
    <li><a href="/deleteTransactions/-1/"><i class="icon-trash"></i>Delete A Transaction</a></li>
    <li class="nav-header">></li>
    <li><a href="/settleUP"><i class="icon-thumbs-up"></i>SettleUP!!</a></li>
    <li><a href="/logout"><i class="icon-off"></i>Logout</a></li>
    <li><a href="/posts/new/"><i class="icon-tasks"></i>NEW NOTI</a></li>
</ul>
