<ul class="nav nav-list">
	{% if loggedInUser.group %}
	<li class="nav-header">Add links</li>
    <li><a href="/transactions/{{userFullName}}"><i class="icon-file"></i>New Transaction</a></li>
    <li><a href="/createPost/"><i class="icon-flag"></i>Put up a Post</a></li>
    <li class="nav-header">View links</li>
    <li><a href="/displayusers/"><i class="icon-list-alt"></i>Users</a></li>
    <li><a href="/notifications/all/"><i class="icon-align-justify"></i>Notifications</a></li>
    <li><a href="/displayPosts/all/"><i class="icon-tasks"></i>Posts</a></li>
    <li><a href="/transactionsInDetail/{{loggedInUser.name}}/"><i class="icon-tasks"></i>Transactions</a></li>
    <li class="nav-header">Delete links</li>
    <li><a href="/deleteTransactions/-1/"><i class="icon-trash"></i>Delete Transactions</a></li>
    <li class="nav-header">></li>
    <li><a href="/settleUP"><i class="icon-thumbs-up"></i>SettleUP!!</a></li>
    <li><a href="/groupHome/{{loggedInUser.group.name}}"><i class="icon-cog"></i>Group Home</a></li>
    {% endif %}
    <li><a href="/changePassword"><i class="icon-qrcode"></i>Change Password</a></li>
    <li><a href="/home"><i class="icon-home"></i>User Home</a></li>
</ul>
