<ul class="nav nav-list">
    <li class="nav-header">Add links</li>
    <li><a href="/createTransaction/"><i class="icon-file"></i>New Transaction</a></li>
    <li><a href="/createPost/"><i class="icon-flag"></i>put up a post</a></li>
    <li class="nav-header">View links</li>
    <li><a href="/displayusers/"><i class="icon-list-alt"></i>Users</a></li>
    <li><a href="/displayTransactions/{{userFullName}}/"><i class="icon-list"></i>Transactions</a></li>
    <li><a href="/notifications/all/"><i class="icon-align-justify"></i>Notifications</a></li>
    <li><a href="/displayPosts/all/"><i class="icon-tasks"></i>Posts</a></li>
    <li class="nav-header">Delete links</li>
    <!--    <li><a href="/deleteUser/-1"><i class="icon-remove"></i>Delete Users</a></li> -->
    <li><a href="/deleteTransactions/-1/"><i class="icon-trash"></i>Delete Transactions</a></li>
    <li class="nav-header">></li>
    <li><a href="/settleUP"><i class="icon-thumbs-up"></i>SettleUP!!</a></li>
    <li><a href="/userSettings"><i class="icon-thumbs-up"></i>Change Password[Under Const]</a></li>
</ul>
