{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
<div class="span2">
    {% include "navlist.html" %}
</div>
<div class="span10">
    <h3>{{ noOfNewNoti }} new notifications</h3>
    <table class="table table-striped">
        {% for row in object_list_new %}
        <tr>
            <td>
                <b>{{ row.author }}</b>
                {{ row.desc }}->
                {{ row.linkToTransaction.amount }} paid by 
                <b>{{ row.linkToTransaction.user_paid }} </b>for
                {% for ui_rows in row.linkToTransaction.users_involved.all  %}{{ui_rows.username|add:" "}}{%endfor%}
            </td>
            <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Old notifications</h3>
    <table class="table table-striped">
        {% for row in object_list %}
        <tr>
            <td>
                <b>{{ row.author }}</b>
                {{ row.desc }}->
                {{ row.linkToTransaction.amount }} paid by 
                <b>{{ row.linkToTransaction.user_paid }} </b>for
                {% for ui_rows in row.linkToTransaction.users_involved.all  %}{{ui_rows.username|add:" "}}{%endfor%}
            </td>
            <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
