{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        {% include "navlist.html" %}
    </div>
    <div class="span10">
        <h3>{{ noOfNewNoti }} new notifications</h3>
        <table class="table ">
            {% for row in object_list_new %}
            <tr>
                <td>
                    {{ row.author|upper }}
                    {{ row.desc }}->
                    <b>{{ row.linkToTransaction.amount }}</b> paid by 
                    {{ row.linkToTransaction.user_paid|upper }} for
                    {% for ui_rows in row.linkToTransaction.users_involved.all  %}{{ui_rows.username|add:" "}}{%endfor%}
                </td>
                <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>All notifications</h3>
        <table class="table table-striped">
            {% for row in object_list %}
            <tr>
                <td>
                    {{ row.author|upper }}
                    {{ row.desc }}->
                    <b>{{ row.linkToTransaction.amount }}</b> paid by 
                    {{ row.linkToTransaction.user_paid|upper }} for
                    {% for ui_rows in row.linkToTransaction.users_involved.all  %}{{ui_rows.username|add:" "}}{%endfor%}
                </td>
                <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
