{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        {% include "navlist.html" %}
    </div>
    <div class="span10">
        <table class="table ">
            {% for row in object_list_new %}
            <tr>
                <td>
                    <b>{{ row.author }}</b> posted
                    {{ row.desc }}
                </td>
                <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>old posts</h3>
        <table class="table table-striped">
            {% for row in object_list %}
            <tr>
                <td>
                    <b>{{ row.author }}</b> posted
                    {{ row.desc }}
                </td>
                <td>{{ row.timestamp|date:"fa j/N/Y " }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
