<!DOCTYPE html>
<html lang="en">
  <head>
 	<title>Resume</title>
    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" media=    "screen, projection">
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <style media="screen" type="text/css">
            h1{font-family: 'Lato', sans-serif; font-size:300%; font-weight:1400}
            h2{font-family: 'Josefin Sans', sans-serif; font-size:200%; font-weight:1400}
            h4{font-family: 'Lato', sans-serif; font-size:140%; font-weight:1400; color:#C55500}
            h5{font-family: 'Lato', sans-serif; font-size:120%; font-weight:1400}
            p{font-family: 'Lato', sans-serif; font-size:130%; font-weight:1400;line-height: 1.4em;}
            a{color:#C55500}
    </style>
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
<div class="container">
	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span6">
			<div align="center">
                <br/>
                <br/>
				<h1>Murali Suresh<br/><small><a href="mailto:muralisc@gmail.com">muralisc@gmail.com</a></small></h1>
			</div>
            <br/>
            <br/>
            <h2 class="page-header">About Me</h2>
			<p>I am a software engineer. I like to write code in Python, but I dabble in as many other languages as I can find, from C to C#,Perl PHP. In my spare time, I code for fun and work on the <a href="https://github.com/muralisc/django_test">Split</a> project. When I'm not doing those things, I read, play video games, and watch film and television. </p>
            <br/>
            <br/>
            <h2 class="page-header">Skills</h2>
			<ul>
				<li><p>Python / Djnago</p></li>
				<li><p>I use <code>Vim</code> to write code and <code>Git</code> to manage it. </p></li>
				<li><p>Satisfactory <code>HTML</code> and <code>CSS</code> knowledge </p></li>
				<li><p>Working knowledge of <code>jQuery</code>.</p></li>
				<li><p>Experience working in <code>LAMP</code> </p></li>
				<li><p>I prefer UNIX systems for development, though comfortable with win-7</p></li>
				<li><p>Prefered Linux Distros: ArchLinux, Ubuntu and Fedora.</p></li>
				<li><p>C#</p></li>
			</ul>
            <br/>
            <br/>
			<h2 class="page-header">Experience</h2>
			<h4>System Software Engineer at Hewlett Packard (Aug 2011-Present)</h4>
			<p>Development of Enterprise printer software. C#, Git, Agile development (Scrum)</p>
			<h4>Intern at Ericsson India Pvt Ltd (May-2010)</h4>
			<p>Responsible for automation of various system funtions. Perl,PHP</p>
            <br/>
            <br/>
			<h2 class="page-header">Education</h2>
			<h4>National Inistitute of Technology, Calicut</h4>
			<h5>B.Tech in Electronics and Communication Engineering (2007-2011)</h5>
            <p>CGPA: 8.74/10</p>

            <h4>Indian School Certificate</h4>
            <h5>Physics, Chemistry, Maths, Computer (2006-2007)</h5>
            <p>95%</p>

            <h4>Indian Certificate of Secondary Education</h4>
            <h5>2004-2005</h5>
            <p>91%</p>
            <div class="page-header"></div>
            <footer class="footer" align="center">
            <p>
                <a href="https://twitter.com/muralisuresh">Twitter</a> .
                <a href="https://github.com/muralisc/">Github</a> .
                <a href="mailto:muralisc@gmail.com">Email</a> 
            </p>
            </footer>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script> 
</body>
</html>
<!--
inspired by http://nicolasgallagher.com/resume/
-->
