<!-- 
    All that goes in between head
-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Blueprint Forms Tests</title>


    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/screen.css" type="text/css" media=    "screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/print.css" type="text/css" media="    print">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/ie.css" type="tex    t/css" media="screen, projection">
    <![endif]-->


    <!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    -->


    <link href="{{ STATIC_URL }}uni-form/css/uni-form.css" media="all" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}uni-form/css/dark.uni-form.css" media="all" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }}uni-form/js/uni-form.jquery.js"></script>

    <!-- http://www.tablefixedheader.com/fullpagedemo/ -->
    <script type="text/javascript" src="{{ STATIC_URL }}fixheadertable/javascript/jquery.fixheadertable.js"></script> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/jquery-ui/css/ui-lightness/jquery-ui-1.8.4.custom.css" />
