<!-- 
    All that goes in between head
-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Blueprint Forms Tests</title>


    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/screen.css" type="text/css" media=    "screen, projection">
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/print.css" type="text/css" media="    print">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/ie.css" type="tex    t/css" media="screen, projection">
    <![endif]-->



    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>



    <link href="{{ STATIC_URL }}uni-form/css/uni-form.css" media="all" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}uni-form/css/dark.uni-form.css" media="all" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }}uni-form/js/uni-form.jquery.js"></script>

    <!-- http://www.tablefixedheader.com/fullpagedemo/ -->
    <script type="text/javascript" src="{{ STATIC_URL }}fixheadertable/javascript/jquery.fixheadertable.js"></script> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/jquery-ui/css/ui-lightness/jquery-ui-1.8.4.custom.css" />



    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/a-bebedera" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
    <!--
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/averia" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/pecita" rel="stylesheet" type="text/css"/> 
    -->
    <style type="text/css" media="screen">
        #font1{
            font-family: 'Averia';
            font-size: 14px;
        }
        #font2{
            font-family: 'A Bebedera';
            font-size: 80px;
            color:#ffffff;
        }
        #font2i{
            font-family: 'A Bebedera';
            font-size: 20px;
            color:#ffffff;
        }
        #font3{
            font-family: 'Pecita';
            font-size: 16px;
        }
        #font4{
            font-family: 'Crafty Girls', cursive;
            font-size: 17px;
            color:#ffffff;
        }
        #font5{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            color:#ffffff;
        }

    </style>


