{% extends "base.html" %}
{% block cur_title  %}
Transaction
{% endblock %}
{% block current_head %}
<script type="text/javascript">
    $(document).ready(function() {
            $('#id_amount').attr('autocomplete','off');
            $('#id_amount').focus(function() {
                $('#id_amount').before("<div id='calcu'></div>")
                });       
            $('#id_amount').blur(function() {
                var nos = $('#id_amount').val();
                $.get('/calculator/'+nos+'/',function(data)
                    {
                    $('#calcu').remove();
                    $('#id_amount').val(data);
                    });
                });       
            $('#id_amount').keyup(function() {
                var nos = $('#id_amount').val();
                $.get('/calculator/'+nos+'/',function(data)
                    {
                    $('#calcu').text(data);
                    });
                });       
            $('#id_amount').keydown(function() {
                    $('#calcu').text('കണക്കു കൂടുന്നു ');
                    });

            $("label:contains('involved')").html("Users Involved <input type='checkbox' id='selectAll'> Select All");
            // toggle when select all is clicked
            $('#selectAll').click(function() {
                $("input[name='users_involved']").attr('checked',this.checked);
                });
            // check selectall when all boxes are clicked
            $("input[name='users_involved']").click(function(){
                if($("input[name='users_involved']").length == $("input[name='users_involved']:checked").length) {
                        $("#selectAll").attr("checked", "checked");
                        } else {
                        $("#selectAll").removeAttr("checked");
                    }
                });       
            //----------------------------------------------------------
            $('#mytable').fixheadertable({
                caption     : '{{ kind }} Transactions',
                whiteSpace  : 'normal',
                height      : 400,
                width       : 950,
                zebra       : true,
                {% ifequal kind 'all'%}
                minWidth    : 1400,
                {% endifequal %}
                addTitles	: true,
                sortable    : true, 
                });
            $('table#side_table tr').superLink();

            });
</script>
<!-- http://www.tablefixedheader.com/fullpagedemo/ -->
 <script type="text/javascript" src="{{ STATIC_URL }}fixheadertable/javascript/jquery.fixheadertable.js"></script> 
 <script type="text/javascript" src="{{ STATIC_URL }}superlink.jquery.js"></script> 
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/css/base.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fixheadertable/jquery-ui/css/ui-lightness/jquery-ui-1.8.4.custom.css" />
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			{% include "navlist.html" %}
		</div>
		<div class="span1"></div>
		<div class="span4">
			{% ifnotequal  noOfNewNoti 0 %}
			<a href="/notifications/all/"> {{ noOfNewNoti }} new transaction activity involving you</a></br>
			{% endifnotequal %}
			{% ifnotequal  noOfNewPosts 0 %}
			<a href="/displayPosts/all/"> {{ noOfNewPosts }} new Posts for you</a>
			{% endifnotequal %}
			<form action="" method="post" class="well">
			   {% csrf_token %}
				<div>{{form.description}}{{form.description.errors}}</div>
				<div>{{form.amount}}{{form.amount.errors}}</div>
				<div>{{form.user_paid.label}}</div>
				<div>{{form.user_paid}}{{form.user_paid.errors}}</div>
				<div>{{form.users_involved.label_tag}}</div>
				<div>{{form.users_involved}}{{form.users_involved.errors}}</div>
				<input  class="btn" type="Submit" value = "Submit"/>
			</form>
		</div>
		<div class="span3 well">
			<ul class="nav nav-list">
				<table id="side_table" class="table table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>In pool</th>
						</tr>
					</thead>
					{% for rows,change in outstanding_userstable  %}
						<tr>
							<td><i>{{rows.username}}{{ changeDict.ropo }}</i></td>
							<td>{{rows.outstanding|floatformat}}
								{% if change != 0 %}
								(	
									{% if change >= 0 %}
									<i class="icon-chevron-up"></i>
									{% else %}
									<i class="icon-chevron-down"></i>
									{% endif %}
									{{ change|floatformat }}
								)
								{% endif %}
							</td>
						</tr>
					{%endfor%}
				</table>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

