{% extends "base.html" %}
{% block current_head %}
<script type="text/javascript">
    $(document).ready(function() {
            $('#id_amount').attr('autocomplete','off');
            $('#id_amount').focus(function() {
                $('#id_amount').before("<div id='calcu'></div>")
                });       
            $('#id_amount').blur(function() {
                var nos = $('#id_amount').val();
                $.get('/calculator/'+nos+'/',function(data)
                    {
                    $('#calcu').remove();
                    $('#id_amount').val(data);
                    });
                });       
            $('#id_amount').keyup(function() {
                var nos = $('#id_amount').val();
                $.get('/calculator/'+nos+'/',function(data)
                    {
                    $('#calcu').text(data);
                    });
                });       
            $('#id_amount').keydown(function() {
                    $('#calcu').text('some packets forgot their way here ;)');
                    });
            });
</script>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        {% include "navlist.html" %}
    </div>
    <div class="span10">
        <div class="span1"></div>
        <div class="span8">
            {% ifnotequal  noOfNewNoti 0 %}
            <a href="/notifications/all/"> {{ noOfNewNoti }} new transaction added involving you</a></br>
            {% endifnotequal %}
            {% ifnotequal  noOfNewPosts 0 %}
            <a href="/displayPosts/all/"> {{ noOfNewPosts }} new Posts for you</a>
            {% endifnotequal %}
            <form action="" method="post" class="well form-horizontal">
               {% csrf_token %}
                <div class="">
                    {% for field in form %}
                    <div class="control-group">
                        <label class="control-label">
                            {{ field.label }}
                        </label>
                        <div class="controls">
                            {{field}}
                            <span class="help-inline">{{field.errors}} </span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-actions">
                        <input  class="btn" type="Submit" value = "Submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
