{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        {% include "navlist.html" %}
    </div>
    <div class="span10">
        <form action="" method="post" class="well form-horizontal">
            <fieldset>
                {% csrf_token %}
                <div class="offset1">
                    {% for field in form %}
                    <div class="control-group">
                        <label class="control-label">
                            {{ field.label }}
                        </label>
                        <div class="controls">
                            {{field}}
                            <span class="help-inline">{{field.errors}} </span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-actions">
                        <input  class="btn" type="Submit" value = "Submit"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
