<html>
    <body>
	<a href="/displayTransactions/all/">all</a></br>
	{% for rows in ordered_userstable  %}<a href="/displayTransactions/{{rows.username}}/">{{rows.username|add:"  "}}</a>{{rows.outstanding|floatformat}}</br>{%endfor%}
	
	<table border = 1 width=10>
        <tr>
		<th>id</th>
		<th>description</th>
		<th>amount</th>
		<th>user_paid</th>
		<th>users_involved</th>
		<th>timestamp</th>
		
		{% for i in userstable %}
		<th>{{ i.username }}</th>
		{% endfor  %}
		
		{% for i in userstable %}
		<th>{{ i.username }}</th>
		{% endfor  %}
        </tr>		
        
	{% for i in newtable %}
	
		<tr>
		{% for j in i%}
		<td>{{ j }}</td>
		{% endfor%}
		</tr>
	
	{% endfor%}


    </table>
	
    </body>
</html>
