<html>
    {% include "styles.html" %}
    <style type="text/css">
        td { /*width: 30px;*/ overflow: hidden; }
        table { /*width : 1200px;*/ table-layout: fixed; }
    </style>
    <body>
    <a href="/displayTransactions/all/">all</a></br>
    {% for rows in ordered_userstable  %}<a href="/displayTransactions/{{rows.username}}/">{{rows.username|add:"  "}}</a>{{rows.outstanding|floatformat}}</br>{%endfor%}
    
    <table >
        <tr>
        <th>id</th>
        <th>description</th>
        <th>amount</th>
        <th>user paid</th>
        <th>users involved</th>
        <th>timestamp</th>
        
        {% for i in userstable %}
        <th>{{ i.username }}</th>
        {% endfor  %}
        
        {% for i in userstable %}
        <th>{{ i.username }}</th>
        {% endfor  %}
        </tr>       
        
    {% for i in newtable %}
    
        <tr>
        {% for j in i%}
        <td>{{ j }}</td>
        {% endfor%}
        </tr>
    
    {% endfor%}


    </table>
    
    </body>
</html>
