<html>
    <body>
	<table >
        <tr>
	   {% for i in userstable %}
	    <th>{{ i.username }}</th>
	   {% endfor  %}

	   {% for i in userstable %}
	    <th>{{ i.username }}</th>
	   {% endfor  %}
        </tr>		
        

	{% for row in txnstables %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.username }}</td>
            <td>{{ row.amount  }}</td>
            <td>{{ row.user_paid  }}</td>
            <td>
				{% for ui_rows in row.users_involved.all  %}{{ui_rows.username|add:" "}}{%endfor%}
	    </td>
            <td>{{ row.timestamp  }}</td>
            <td>{{ row.perpersoncost }}</td>
        </tr>
        {% endfor%}


    </table>
	<a href="/displayTransactions/all/">all</a></br>
	{% for rows in userstable  %}<a href="/displayTransactions/{{rows.username}}/">{{rows.username}}</a></br>{%endfor%}
    </body>
</html>
<!-- rows.update({  :0, 'CUM'+i.username:0 }) -->
