<html>
    {% include "styles.html" %}
    <body>
        <div class ="container">
            <div class ="span-16 last"></div>
            <div class ="span-8 push-7 success">
                <form name="adduserform" action="" method="get">
                    Username: <input type="text" name="username" /></br>
                    Password: <input type="password" name="password" /></br>
                    <input type="submit" value="login" />
                </form>
                <a href='adduser/'>Register new user</a>
            </div>
        </div>
    </body>
</html>
