<html>
    {% include "styles.html" %}
    <body>
        <div class="container success">
            <div class="prepend-10 last success">
                <a class="" href="/displayTransactions/all/">Display All Transactions</a>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="span-17 prepend-5 ">
                    {% for field in form %}
                    <div class="span-16 ">
                        <div class="span-3 label ">
                            {{ field.label }}
                        </div>
                        <div class="span-11 ">
                            {{field}}{{field.errors}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="span-3 last">
                        <input  type="Submit" value = "Submit"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
